@use "../../responsive.scss" as *;

.card {
  display: flex;
  gap: 20px;

  @include sm {
    flex-direction: column;
    gap: 15px;
  }

  .imageContainer {
    flex: 2;
    height: 200px;

    @include md {
      display: none;
    }

    @include sm {
      display: block;
      height: 250px;
      flex: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .textContainer {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    @include sm {
      flex: 1;
    }

    img {
      width: 16px;
      height: 16px;
    }

    .title {
      font-size: 20px;
      font-weight: 600;
      color: #444;
      transition: all 0.4s ease;

      @include sm {
        font-size: 18px;
        margin: 0;
      }

      &:hover {
        color: #000;
        scale: 1.01;
      }
    }

    .address {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 5px;
      color: #888;

      @include sm {
        font-size: 13px;
        margin: 5px 0;
      }
    }

    .price {
      font-size: 20px;
      font-weight: 300;
      padding: 5px;
      border-radius: 5px;
      background-color: rgba(254, 205, 81, 0.438);
      width: max-content;

      @include sm {
        font-size: 18px;
        padding: 8px 12px;
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      @include sm {
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 10px;
      }

      .features {
        display: flex;
        gap: 20px;
        font-size: 14px;

        @include sm {
          gap: 15px;
          font-size: 13px;
        }

        .feature {
          display: flex;
          align-items: center;
          gap: 5px;
          background-color: whitesmoke;
          padding: 5px;
          border-radius: 5px;

          @include sm {
            padding: 8px 10px;
          }
        }
      }

      .icons {
        display: flex;
        gap: 20px;

        @include sm {
          gap: 15px;
        }

        .icon {
          border: 1px solid #999;
          padding: 2px 5px;
          border-radius: 5px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          @include sm {
            padding: 8px 10px;
          }

          &:hover {
            background-color: lightgray;
          }
        }
      }
    }
  }
}
