@use "../../responsive.scss" as *;

.searchBar {
  .type {
    button {
      padding: 16px 36px;
      border: 1px solid #999;
      border-bottom: none;
      cursor: pointer;
      background-color: white;
      text-transform: capitalize;

      &.active {
        background-color: black;
        color: white;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-right: none;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-left: none;
      }
    }
  }

  form {
    border: 1px solid #999;
    display: flex;
    justify-content: space-between;
    height: 64px;
    gap: 5px;

    @include sm {
      flex-direction: column;
      border: none;
    }

    input,
    select {
      border: none;
      padding: 0px 10px;
      width: 200px;

      @include lg {
        padding: 0px 5px;

        &:nth-child(2),
        &:nth-child(3) {
          width: 140px;
        }
      }
      @include md {
        width: 200px;
        &:nth-child(2),
        &:nth-child(3) {
          width: 200px;
        }
      }

      @include sm {
        width: auto;
        &:nth-child(2),
        &:nth-child(3) {
          width: auto;
        }
        padding: 20px;
        border: 1px solid #999;
      }
    }

    .citySelect {
      appearance: none;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 20px;
      padding-right: 35px;
      cursor: pointer;
      font-family: inherit;
      font-size: 14px;
      color: #333;
      width: 100%;
      box-sizing: border-box;

      &:focus {
        outline: 2px solid #fece51;
        outline-offset: -2px;
      }

      option {
        padding: 10px;
        background-color: white;
        color: #333;
        width: 100%;
      }
    }

    a {
      flex: 1;
      background-color: #fece51;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        border: none;
        cursor: pointer;
        background-color: #fece51;
        padding: 12px 20px; // Default padding

        @include lg {
          padding: 14px 40px; // Increased size on large screens
        }

        @include sm {
          padding: 10px 15px; // Smaller padding on small screens
        }

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
